@mixin border-box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

%clearfix {
    *zoom: 1;
    &:before, &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    @include border-box;
}

.square, .square-block {
    @extend %clearfix;
}

// breakpoint for desktop and note
@media only screen and (min-width: 76em) {
    .square {
        width: 97.77777%;
        max-width: 72em;
    }

    @for $i from 1 through 12 {
        .vert-#{$i} {
            width: 100% / 12 * $i;
        }
    }

}



