*,
*:after,
*:before {
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

img {
    width: auto;
    max-width: 100%;
    height: auto !important;
}

.square {
    width: 100%;
    margin: 0 auto;
}

/** Clearfix **/

.square:after,
.hor:after {
    content: "";
    display: table;
    clear: both;
}

[class*='vert-'] {
    float: left;
    padding: 1em;
    width: 100%;
    min-height: 1px;
}

@media only screen and (min-width: 76em) {
    .square {
        width: 97.77777%;
        max-width: 76em;
    }
    .vert-1 {
        width: 8.33333%;
    }
    .vert-2 {
        width: 16.66667%;
    }
    .vert-3 {
        width: 25%;
    }
    .vert-4 {
        width: 33.33333%;
    }
    .vert-5 {
        width: 41.66667%;
    }
    .vert-6 {
        width: 50%;
    }
    .vert-7 {
        width: 58.33333%;
    }
    .vert-8 {
        width: 66.66667%;
    }
    .vert-9 {
        width: 75%;
    }
    .vert-10 {
        width: 83.33333%;
    }
    .vert-11 {
        width: 91.66667%;
    }
    .vert-12 {
        width: 100%;
    }
}